/*Formatear el documento*/
body{
    margin  : 0px; /*Distancia entre una figura y otra*/
    padding : 0px; /*Aumentar la figura o documento*/
}

.Margen{
    margin  : 100px; /*Distancia entre una figura y otra*/
}

.rojo{
    background-color: rgb(255, 0, 0);
}

.azul{
    background-color: rgb(0,0,255);
}

.verde{
    background-color: rgb(0, 255, 0);
}

.ancho_10{
    width: 10%;
}

.ancho_20{
    width: 20%;
}

.ancho_30{
    width: 30%;
}
.ancho_50{
    width: 50%;
}
.ancho_75{
    width: 75%;
}

.ancho_80{
    width: 80%;
}

.ancho_90{
    width: 90%;
}

.ancho_100{
    width: 100%;
}

/* Esta clase le da el espacio del 25% del total*/
.ancho_25{
    width: 25%;
}

/**/
.padre_inblock{
    font-size: 0;
}

/* Esta clase alinea en bloques las formas*/
.dis_inblock{
    display: inline-block;
    font-size: 15px;
}

.container {
    text-align: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    display: flex;
    align-items: center;
    justify-content: center;
}